* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #13141c;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat; 

    min-height: 100vh; // has to be min 100vh but can stretch if needed
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: none;
    background-color: transparent;
}

.btn-watchlist,
.btn-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2.4rem;
    border: 1px solid #fdbf00;
}

.btn-trailer {
    background-color: #fdbf00;
}

.btn-remove-fav {
    padding: 8px 1.6rem;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #000;
        color: #fff;
        transition: all 0.2s;
    }
}


.fa-bookmark {
    color: #fdbf00;
}

.fa-play {
    color: #fff;
}

.active {
    background: #212330;
    border-left: 2px solid #fff;
    color: red;
}