.loader {
    margin: 24vh auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 58%;

    svg {
      height: 2.2rem;
      width: 2.2rem;
      fill: #171717;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear; 
    }

    // .loading {
    //     color: #171717;
    //     font-size: 2.4rem;
    //     font-weight: 400;
    //     margin-left: .6rem;
    // }

    @keyframes rotate {
        0% {
            transform: rotate(0); 
        }
        100% {
            transform: rotate(360deg); 
        } 
    }
}

.side-items {
    ul {  
        margin-top: 3.2rem;

        @media only screen and (max-width: 450px) {
            margin-top: 0;
        }

        li {
            font-size: 1.6rem;
            color: #fff;
            padding: 1.6rem 2.4rem;  

            
            @media only screen and (max-width: 450px) {
                font-size: 1.2rem;
                padding: 1.2rem 2.4rem;  
            }
              
        }

        i {
            padding-right: 8px;
        }

    }
}

.search {    
    background-color: #e6e6e6;
    padding: 1.2rem 2rem 1.2rem 1.2rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: 440px;


    @media only screen and (max-width: 450px) {
        padding: 0.6rem 1.2rem 0.6rem 8px; 
        align-items: center;   
        background-color: transparent;
        border: 1px solid #fff;
        width: 240px;
 
    }

    i {
        font-size: 1.6rem;
        background-color: #e6e6e6;
        padding-left: 4px;
        color: #999999;

        @media only screen and (max-width: 450px) {
            font-size: 1.2rem;
            background-color: transparent;
            color: #999999;

        }

    }

    input[type=text] {
        font-size: 1.6rem;
        color: #000;

        @media only screen and (max-width: 450px) {
            color: #fff;
        }
    }


    &-field {
        outline: none;
        width: 100%;
        border: 0;
        background-color: #e6e6e6;
        padding-left: 4px;

        @media only screen and (max-width: 450px) {
            background-color: transparent;
        }

        &::-webkit-input-placeholder {
            font-size: 1.6rem;
            color: #999999;

            @media only screen and (max-width: 450px) {
                font-size: 1.6rem;
                color: #999999;

            }
        }

        @media only screen and (max-width: 450px) {
            width: 100%;
        }
    }
}

.dynamic-heading {
    margin: 4rem 0 1rem 0;
    padding: 0 6.6rem;

    @media only screen and (max-width: 450px) {
        padding: 0 1.6rem;
    }
    

    &__title {
        font-size: 3.2rem;

        @media only screen and (max-width: 450px) {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}

// .search {
//     justify-self: flex-end;
//     --size: 4.8rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0;
//     overflow: hidden;
//     position: relative;
//     width: var(--size);
//     height: var(--size);
//     transition: width 400ms;
//     padding-right: 10px;

//     input[type=text] {
//         font-size: 1.6rem;
//     }

//     &-field {
//         border: 0;
//         padding: .25rem 1em;
//         flex-grow: 1;
//         outline: 0;
//         z-index: 2;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         opacity: 0;
//         cursor: pointer;

//         &::-webkit-input-placeholder {
//             font-size: 1.6rem;
//             color: #dad8d7;
//             padding-left: 2px;
//         }
//     }

//     &-submit {
//         font-size: 1.6rem;
//         margin-left: auto;
//         background: 0;
//         border: 0;
//         cursor: pointer;
//         border-radius: 50%;
//         transition: background 200ms ease-out;
//         width: calc(var(--size) - 10px);
//         height: calc(var(--size) - 10px);
//         color: #171717;
//     }
    
// }

// .search:focus-within {
//     width: 50%;
//     border: 1px solid black;
    
//     .search-field {
//       opacity: 1;
//       z-index: initial;
//       cursor: initial;
//       width: calc(100% - var(--size));
//     }
    
//     .search-submit {
//       color: #171717;

//       &:hover,
//       &:focus {
//         outline: 0;
//       }
//     }
//   }

.search-list {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
    grid-gap: 2rem 1rem ;
    justify-content: left;
    align-content: space-between;
    padding: 0rem 0 0 6rem;

    @media only screen and (max-width: 450px) {
        padding: 0;
        grid-gap: 1.2rem 0;
        width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
        justify-content: center;

    }

    .movie-card {
        padding: 1rem;

        &:hover {
            background-color: #e6e6e6;
            color: #13141c;
            transition: background-color .3s;

            @media only screen and (max-width: 450px) {
                background-color: transparent;
                transition: none;
            }

            
        }
        
        &:hover .movie-card__info { 
            visibility: visible;
            opacity: 1;
            transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
        }

        &__info {
            height: auto;
            font-size: 1.6rem;
            font-weight: 500;
            visibility: hidden;
            text-align: center;

            @media only screen and (max-width: 450px) {
                visibility: visible;
            }
            

            .movie-card__title {
                font-weight: 700;
                font-size: 1.6rem;

                @media only screen and (max-width: 450px) {
                    font-size: 1.4rem;
                }
            }

            p {
                @media only screen and (max-width: 450px) {
                    font-size: 1.2rem;
                }
            }
        }
        
        img {
            width: 100%;
            display: block;
            object-fit: contain;
            margin-bottom: 6px;
        }
    }
}

.movie {
    background-color: #13141c;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: .25s all;
    z-index: 1000;
    overflow: scroll;
}

.close {
    position: absolute;
    top: 10vh;
    right: 10vw;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 4rem;
    pointer: cursor;

    @media only screen and (max-width: 450px) {
        top: 4px;
        right: 16px;
        font-size: 4rem;
    }   

    &:hover {
        color: #fff;
    }

    &:active {
        outline: none;
    }

}


.movie-content {

    .btn {
        outline: none;
        cursor: pointer;
    }

    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    width: 70vw;
    margin: 10vh auto;

    @media only screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: 100vh;
        padding: 4rem 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #686868;
        margin-bottom: 8px;
    }

    p {
        color: #fff;
        font-size: 1.6rem;
    }

    .poster {
        width: 48rem;
        height: auto;

        @media only screen and (max-width: 450px) {
            width: 16rem;
            margin-left: 4rem;
            margin-bottom: 2rem;

        }

        img {
            width: 100%;
            display: block;
            object-fit: contain;

            
        }
    }

    &__info {
        padding: 0 4rem;
        
        .title {
            margin-bottom: 2rem;

            @media only screen and (max-width: 450px) {
                    margin-bottom: 1rem;
            }   

            h1 {
                font-size: 4.8rem;
                font-weight: 900;
                line-height: 1.2;

                @media only screen and (max-width: 450px) {
                    font-size: 2rem;
                }   

                span {
                    font-size: 2.4rem;
                    border: 1px solid #686868;
                    color: #686868;
                    padding: 2px 2rem;
                    margin-left: 2.4rem;
                    border-radius: 4px;

                    @media only screen and (max-width: 450px) {
                        display: none;
                    }
                }
            }   
        }

        .general {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4rem;

            @media only screen and (max-width: 450px) {
                margin-bottom: 2rem;
            }
            

            span {
                font-size: 1.6rem;
                font-weight: 400;
                color: #686868;
                margin-right: 2rem;

                @media only screen and (max-width: 450px) {
                    font-size: 1.2rem;
                }   
                
            }
            
            i {
                color: #fdbf00;
                font-size: 3.2rem;
                margin-right: 8px;
            }
        }

        .rating {
            margin-bottom: 4rem;

            @media only screen and (max-width: 450px) {
                margin-bottom: 2rem;
            }

            span {
                margin-right: 2rem;
                color: #686868;
                font-size: 1.6rem;

                @media only screen and (max-width: 450px) {
                    font-size: 1.2rem;
                }   
            }

            i {
                color: #ffca00;
                font-size: 1.6rem;
                margin-right: 4px;

                @media only screen and (max-width: 450px) {
                    font-size: 1.4rem;
                }   

            }
        }

        .plot {
            margin-bottom: 4rem;

            @media only screen and (max-width: 450px) {
                font-size: 1.4rem;
                height: 100px;
                text-overflow: ellipsis;

                /* Required for text-overflow to do anything */
                // white-space: nowrap;
                overflow: hidden;
            }   
        }
    }

    .movie-buttons {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 0 2rem;
        margin-top: 4rem;
    
        p {
            color: #fff;
            margin-left: 8px;
            letter-spacing: 1px;
        }
    
        .trailer-text {
            color: #fff;
        }
    }
}

.watchlist-section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: .25s all;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    
    .watchlist-panel {
        background-color: #fff;
        position: absolute;
        width: 0px;
        height: 100vh;
        box-sizing: border-box;
        top: 0;
        right: 0;
        opacity: 1;
        transition: .4s all;
        overflow: scroll;
        box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);

        @media only screen and (max-width: 450px) {
            width: 100%;
        }
    }

    .watchlist-header {
        margin: 4rem 2.4rem;

        h2 {
            font-size: 2.4rem;
            margin-bottom: 8px;
        }
    }

    .watchlist {
        
        .favourites-card {
            display: flex;
            margin: 1.6rem 2.4rem;
            box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
            
            .favourite-poster {
                width: 10rem;
                height: auto;
        
                img {
                    width: 100%;
                    display: block;
                    object-fit: contain;
                }
            }

            .favourite-data {
                padding: 1.6rem;

                h3, p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}


.close-fav {
    position: absolute;
    top: 32px;
    right: 24px;
    background-color: transparent;
    color: #13141c;
    border: none;
    font-size: 4rem;
    pointer: cursor;
    outline: none;

    &:hover {
        color: #13141c;
    }

    &:active {
        outline: none;
        border: none;
        color: #000 !important;
    }

}